<div class="container-xl d-flex justify-content-center">
  <div class="row">
    <div class="col-xl-12">
      <h1 class="title">Receitas</h1>
    </div>
  </div>
</div>
<div class="row justify-content-center">
  <div
    class="col-xl-12 d-flex flex-wrap justify-content-center"
    *ngIf="listRecipes.length > 0; else defaultCard"
  >
    <div class="col-xl-3" *ngFor="let card of listRecipes">
      <div class="card" style="width: 18rem">
        <img
          [src]="card.image ? card.image : '../../../assets/notfound-image.png'"
          class="card-img-top"
          [alt]="card.title"
        />
        <div class="card-body">
          <h5 class="card-title">{{ card.title }}</h5>
          <p class="card-text">{{ card.creditsText }}</p>
          <a [routerLink]="['/detail', card.id]" class="btn btn-primary"
            >Ver detalhes</a
          >
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #defaultCard>
  <div class="spinner-border" style="width: 5rem; height: 5rem" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</ng-template>
